OWNER="yournamehere"
IDENTIFIER="my-development-123"
AWS_DEFAULT_REGION="us-west-2"
AWS_DEFAULT_PROFILE="my-aws-account"
RUNNER_TOKEN_SECRET_ARN="arn:aws:secretsmanager:us-west-2:1234567890:secret:pangeo-forge-aws-bakery/runner-token/my-token"
